<div class="row">
  <div class="contains-show">
    <%= image_tag(@memoriam.image_url(:display).to_s, class: "image") %>
    <h1><%= @memoriam.name %></h1>
    <p><%= @memoriam.born %> to <%= @memoriam.died %></p>
    <h2>In Loving Memory</h2>
    <div class="obit">
      <p><%= @memoriam.obit %></p>
    </div>
    </br>
    <p>
      If you would like to make a contribution on behalf of <%= @memoriam.name %>
      the money will go towards our harm prevention efforts by providing
      educational resources to those who remain vulnerable.
    </p>
    <div class="donations">
      <%= form_tag donations_path do %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
            <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <article>
          <div id="textfield">
            <%= label_tag(:amount, 'Pledge Amount:', {:style=>'color:#FFFFFF;', :class => "css_class"}) %>
            <%= text_field_tag(:amount) %>
            <%= hidden_field_tag(:stripeToken) %>
            <button class="btn btn-primary" id='donateButton'>Pledge</button>
          </div>
        </article>
        <div class="pull-right">
          <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.fuckfent.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
        </div>
      </br>
      </br>
      </br>
      <% end %>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>

var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'FuckFent',
  description: 'One-time pledge',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Pledge amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

$(window).on('popstate', function() {
  handler.close();
});

</script>
